

@use 'vuetify/settings' with (
  $shadow-key-umbra-opacity: rgba(0,0,0, 0),
  $shadow-key-ambient-opacity: rgba(0,0,0, .1),
  $shadow-key-penumbra-opacity: rgba(0,0,0, .2),
  $field-border-width: 0
);